* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

#titlescreen {
    padding: 20px;
    background-color: grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
}

#title-logo {
    height: 100px;
    width: 100px;
}

#title-text {
    font-size: 60px;
    color: white;
    margin-left: 20px;
    font-family: "Lucida Console", Monospace;
}

.small-photos {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.small-photo {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#textarea-container {
    width: 40%;
}

#textarea {
    height: 400px;
    width: 100%; 
    background-color: grey;
    border-radius: 0px;
    resize: none;
    background-image: url("fridge.webp");
    background-position: 250px 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#inp {
    resize: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-btn, .generate-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    background-color: grey;
    color: white;
}

.generate-btn {
    background-color: green;
    color: white;
}

.delete-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-btn {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.boxes {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-grow: 1;
    height: 200px;
}

.row div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 24px;
}

.box {
    background-color: lightgray;
    border: 2px solid black;
}

.one { background-color: lightgray; }
.two { background-color: lightgray; }
.three { background-color: lightgray; }
.four { background-color: lightgray; }
